<div class="row container-fluid">


    <div class="row align-items-center input-col  g-1">
        <div class="col text-center">
            <div class="p-1">
                <label>Indhold Følgemail:</label>
            </div>
            
            <div class="p-1">
                <textarea #datainput rows="15" cols="100"></textarea>
            </div>
            <div class="p-1">

                <button (click)="UpdateInfo(datainput.value)" class="btn btn-dark ">Tilføj</button>
                <!-- <button (click)="getusers()" class="btn btn-dark ">Testt</button> -->
            </div>

        </div>
    </div>

    <!-- <div class="col-md-2"></div>
    <div class="col-md-8">
       
    </div>
    <div class="col-md-2"></div> -->
</div>